node_modules/
gen_dsp/
build/
source/build*
notes/
graham/
examples/*.cpp
examples/*.h
examples/*.json
help/*.cpp
help/*.h
help/*.json
templates/*.cpp
templates/*.h
templates/*.json
.DS_Store
*.DS_Store
**/.DS_Store

# Cosmolab hardware v1 (prototypes only, not for distribution)
source/cosmolab_hw_v1.json
